timeline {
  display: block;
  width: 100%;
}

.axis path {
  stroke: #85defe;
  stroke-width: 5;
  fill: none;
  shape-rendering: crispEdges;
}
.axis circle {
  stroke: #85defe;
  stroke-width: 2;
  fill: #000;
}
.axis text {
  fill: #85defe;
}
.axis .lines line {
  stroke: gray;
  stroke-width: 1;
}
.axis .lines line.solid {
  stroke: #85defe;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.axis .lines line.solid.axis-color {
  stroke: #85defe;
}
.axis .tick text {
  font-size: 12px;
}
.axis .tick text.title, .axis .tick text.title tspan {
  fill: orange;
  cursor: pointer;
}
.axis .tick.solid text {
  font-size: 30px;
}
.axis .tick.solid text tspan {
  font-size: 16px;
}
.axis .tick.solid.month text {
  font-size: 20px;
}
.axis .tick ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  line-height: 20px;
}
.axis .tick ul a {
  color: orange;
  font-size: 14px;
}
